.row {
    margin-top: 15px;
}

.CodeMirror.cm-s-default {
    height: 700px;
    border: 1px solid #3f38a0;
    border-radius: 10px;
    font-size: 18px;
}

.btn {
    border-radius: 5px;
}

.summary-result {
    padding-bottom: 15px;
    position: relative;
}

    .summary-result .btn {
        font-size: 18px;
        color: #fff;
        position: absolute;
        right: 150px;
    }

.btn-good {
    background-color: #006a1d;
}

.btn-unknown {
    background-color: #000;
}

.btn-notexist {
    background-color: #0e0b2b99;
}

.btn-verify {
    background-color: #f25767;
}

.btn-disable {
    background-color: #bd081c;
}

.btn-checking {
    background-color: #bd8e08;
}

.btn-uncheck {
    background-color: #d4b355;
}

.modal-loading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .5 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
#loadingAnimation.loading .modal-loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#loadingAnimation.loading .modal-loading {
    display: block;
}