/* Your Global Styles */
.card-body, input[type=text], .card-body select {
    font-size: 15px;
}

.table td, .table th {
    padding: 5px 8px;
}

.table td {
    padding: 5px 12px;
}

.dataTables_scrollHead {
    overflow: visible !important;
}

#fakeSettingTable_wrapper .dataTables_scrollBody,
#recoveryEmailTable_wrapper .dataTables_scrollBody,
#checkerTable_wrapper .dataTables_scrollBody,
#gmailTable_wrapper .dataTables_scrollBody {
    min-height: 500px;
}

.dataTables_scrollHead th div.chosen-container {
    font-size: inherit;
    font-weight: normal;
}

#fakeSettingTable_wrapper table.dataTable thead tr th input[type="text"],
#recoveryEmailTable_wrapper table.dataTable thead tr th input[type="text"],
#checkerTable_wrapper table.dataTable thead tr th input[type="text"],
#gmailTable_wrapper table.dataTable thead tr th input[type="text"] {
    margin: 0px;
    width: calc(100%);
    padding: 3px 7px;
    height: 36px;
    font-size: 15px;
}

